.credentials {
    width: 100%;
}

.div-btn {
    height: 35px;
    width: 80px;
    font-size: small;
    border: none;
    border-radius: 8px;
    background-color: var(--light-purple);
    color: white;
    display: block;
    cursor: pointer;
}

.div-btn:hover {
    opacity: 0.8;
}

.info-div {
    margin-bottom: 50px;
}

.client-secret-modal {
    width: 500px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#client-secret-text {
    font-weight: 400;
}

#host-input {
    width: 30%;
    border: 1.5px solid var(--light-purple);
    outline: none;
    padding: 5px;
    border-radius: 7px;
    font-size: medium;
    background: none;
    color: white;
    margin-bottom: 20px;
    height: 30px;
    padding-left: 10px;
}

#host-error {
    font-weight: 400;
    color: rgb(250, 65, 65);
    margin-top: 0;
}